astropy
autopep8
bitarray
bkcharts
boto3
bottleneck
brotlipy
chart-studio
comtypes
conda-build
conda-repo-cli
conda-token
conda-verify
cufflinks
cython
cytoolz
datashader
distributed
flake8
flask
gensim
h5py
html5lib
hvplot
imagecodecs
intake
jdcal
jupyter
jupyterlab
lz4
mkl-fft
mkl-random
mkl-service
mock
munkres
navigator-updater
nltk
nose
olefile
openpyxl
pep8
pip-chill
pycurl
pydocstyle
pyhamcrest
pyjwt
pyodbc
pysocks
pytest
python-snappy
rope
ruamel-yaml-conda
scikit-image
scikit-learn-intelex
scrapy
seaborn
sip
sortedcollections
spyder
sqlalchemy
statsmodels
sympy
tables
tabulate
tbb
unidecode
win-inet-pton
win-unicode-console
wincertstore
xlrd
xlsxwriter
xlwings
yapf
